<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
    	Hi,<br/>
			Thanks for signing up to the Commersational beta. 
		</p>
		<p>Someone from Commersational team will contact you soon to see if you fit our beta customer profile.</p>
		
		<p>Thanks for your patience,</p>
		<p>The Commersational team.</p>
  </body>
</html>