<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Hi,<br/><br/>
			Thanks for signing up for early access to Commersational.
		</p>
		<p>Someone from Commersational team will contact you soon to discuss next steps.</p>
		
		<p>Thanks for your patience,</p>
		<p>The Commersational team.</p>
  </body>
</html>
